body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 193, 143);
}
/* Navigasi bar */
.navbar {
  display: flex;
  padding: 10px;
  margin-top: 20px;
  gap: 10px;
  font-size: 30px;
  list-style-type: none;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  justify-content: center;
}

.navbar-box {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(158, 101, 27);
  color: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.navbar-box:hover {
  font-size: 32px;
  background-color: rgb(133, 85, 22);
  border: 2px solid rgb(95, 63, 21);
}

/* Image */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  text-align: center;
  border-bottom: 2px solid black;
}
.foto-alen {
  width: 300px;
  margin: 5px 0 10px 0;
  border-radius: 50%;
}
header h1 {
  margin-top: 0;
  margin-bottom: 5px; /* jarak antara h1 dan p */
}

header p {
  margin-top: 0; /* hilangkan jarak atas p */
}
