body {
  margin: 0;
  padding: 0;
  background-color: rgb(88, 63, 16);
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
  padding-top: 60px;
}

/* Navigasi bar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(145, 109, 42);
  display: flex;
  padding: 30px;
  gap: 10px;
  font-size: 30px;
  list-style-type: none;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  justify-content: center;
}

.navbar-box {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(158, 101, 27);
  color: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.navbar-box:hover {
  font-size: 32px;
  background-color: rgb(133, 85, 22);
  border: 2px solid rgb(95, 63, 21);
}

/* Image */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh;
  text-align: center;
  border-bottom: 2px solid black;
  background-image: url("image/vince-van-gogh.jpeg");
  background-size: cover;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  margin-top: 39px;
}
.foto-alen {
  width: 300px;
  margin: 5px 0 10px 0;
  border-radius: 50%;
}
header h1 {
  margin-top: 0;
  margin-bottom: 5px; /* jarak antara h1 dan p */
  color: rgb(0, 0, 0);
  font-weight: bold;
}

header p {
  margin-top: 0; /* hilangkan jarak atas p */
  color: rgb(1, 0, 0);
}

/* Overview */

#article-index {
  text-align: center;
}

#article-index h2 {
  font-size: 30px;
}

/* About */

.navbar-about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: rgb(145, 109, 42);
  display: flex;
  padding: 30px;
  gap: 10px;
  font-size: 30px;
  list-style-type: none;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
  justify-content: center;
}

.navbar-box-about {
  padding: 10px;
  text-decoration: none;
  background-color: rgb(158, 101, 27);
  color: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.navbar-box-about:hover {
  font-size: 32px;
  background-color: rgb(133, 85, 22);
  border: 2px solid rgb(95, 63, 21);
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

/* article */

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

video {
  margin: 20px 20px 20px 40px;
  float: right;
}
.article-about {
  width: 850px;
  background-color: rgb(58, 42, 42);
  padding: 35px;
  margin: 25px;
}

.article-about p {
  font-size: 30px;
}

/* about main idea */
/* stylish */
.stylish {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  background-color: rgb(58, 42, 42);
  width: 1000px;
  margin-right: 500px;
}

.wrapper-stylish {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin: 0;
}

.stylish img {
  width: 400px;
}
/* socialize */

.socialize {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(58, 42, 42);
  width: 1000px;
  margin-left: 500px;
}
.wrapper-socialize {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin: 0;
}
.socialize img {
  width: 400px;
}

/* professional */
.professional {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  background-color: rgb(58, 42, 42);
  width: 1000px;
  margin-right: 500px;
  margin-bottom: 50px;
}
.wrapper-professional {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-size: 30px;
  margin: 0;
}

.professional img {
  width: 400px;
}
/*footer*/
.logo {
  font-size: 45px;
  display: flex;
  gap: 10px;
  margin: 10px;
}
.logo a {
  color: white;
}
footer {
  border-top: 1px solid black;
  background-color: rgb(26, 24, 24);
  margin-bottom: 0px;
  height: 150px;
}
footer p {
  margin-top: 0;
  margin-right: 10px;
  font-size: 20px;
  text-align: end;
  margin-bottom: 0;
}
